html, body, #container { height: 100%; }
body > #container { height: 800px; min-height: 100%; }

p {
  margin-right: 50px;
  margin-top: 25px;
  float: right;
}

.paraGraph {
  margin: 20px;
}

#container {
  background-color: #D8D8D8;
  width: 100%;
}

#content {
  padding-bottom: 25px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

#footer {
  color: white;
  font-family: Arial;
  text-align: right;
  background-color: #333333;
  height: 65px;
  width: 100%;
  margin-top: -65px;
  clear: both;
  position: relative;
  z-index: 10;
}

.block1 {
  background-color: white;
  margin: 20px 35px 20px 35px;
  min-height: 100px;
}

.pic {
  background-color: #333333;
  height: 200px;
  width: 100%;
}

.mockButtons {
  display: inline-block;
  font-family: Verdana;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  height: 25px;
  width: 85px;
  margin: 20px;
}

.leftButton {
  background-color: #D0021B;
}

.rightButton {
  background color: #4A90E2;
}